{% extends "index.html" %}

{% block main %}
<main>
    {% include 'search_form.html' %}
    <ul>
        {% for game in games_dataset %}
        <li>
            <a href="{{ url_for('game_info_bp.game_info', game_id = game.game_id) }}">{{ game.title }}</a>
            <p>Price: ${{ game.price }} </p>
            <img src="{{ game.image_url }}" alt="game_image">

            {% for genre in game.genres %}
            <p>{{genre.genre_name}}
            {% endfor %}

            <br>
            <br>
        </li>
        {% endfor %}
    </ul>
    <button class="page-buttons" onclick="location.href='{{ url_for(request.endpoint, selected_genre = selected_genre, search_category=search_category, search_term=search_term, current_page=current_page - 1) }}'">Previous Page</button>
    <button class="page-buttons" onclick="location.href='{{ url_for(request.endpoint, selected_genre = selected_genre, search_category=search_category, search_term=search_term, current_page=current_page + 1) }}'">Next Page</button>
</main>
{% endblock %}
