<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home page</title>
        <link
          rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"
        />
    </head>
    <body>
        {% include 'navigationBar.html' %}
        {% include 'header.html' %}
        <div id="content">
            {% block main %}
            <main>
                <div id="title">
                <p>Welcome to Tom, Kevin and Victoria's Game Library</p>
                </div>
                <div id="para1">
                    <p>To explore our entire game library, alongside their reviews, descriptions, prices and much more, simply use the navigation bar on the left.</p>
                </div>
                <div id="get-to-know-title">
                    <br>
                    <br>
                <p>Get To Know Us</p>
                    <div class="slider">
                        <span id="slide-1"></span>
                        <span id="slide-2"></span>
                        <span id="slide-3"></span>
                        <div class="image-container">
                          <img src="https://canvas.auckland.ac.nz/images/thumbnails/10404132/BGqj4NcCsiKqdn3OCNw5AwwwHFknn2eTlwXpObOP" class="slide" width="300" height="300" />
                          <img src="https://img.foller.me/img/in/tom-lightfoot-tom._.lightfoot.png" class="slide" width="300" height="300" />
                          <img src="image.png" class="slide" width="300" height="300" />
                        </div>
                        <div class="buttons">
                          <a href="#slide-1"></a>
                          <a href="#slide-2"></a>
                          <a href="#slide-3"></a>
                        </div>
                      </div>
            </main>
            {% endblock %}
        </div>

    </body>
</html>