<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home page</title>
        <link
          rel="stylesheet" href="../static/css/main.css"
        />
    </head>
    <body>
        {% include 'navigationBar.html' %}
        {% include 'header.html' %}
        <div id="content">
            {% block main %}
            <main>
                <div id="index-content">
                    <p>main page</p>
                </div>
            </main>
            {% endblock %}
        </div>

    </body>
</html>