<div id="search-form-wrapper">
    <form method="POST" action="{{ url_for("game_library_bp.game_library_search_term", current_page=0) }}">
        <div class="form-field">
            <input type="radio" id="title-button" name="search_category" value="Title" checked/>
            <label for="title-button">Title</label>
            <input type="radio" id="genre-button" name="search_category" value="Genre"/>
            <label for="genre-button">Genre</label>
            <input type="radio" id="publisher-button" name="search_category" value="Publisher"/>
            <label for="publisher-button">Publisher</label>
        </div>
        <div class="form-field">
            <input type="text" id="search_term" name="search_term" value=""/>
        </div>
        <input id="go-button" type = "submit" value = "Go" />
    </form>
</div>