<!DOCTYPE html>
{% extends "index.html" %}

{% block main %}
{% include 'genre_sidebar.html' %}
<main>
    <body>
        <h1>User Info</h1>

        <!-- User Information -->
        <h2>Username:</h2>
        <h2 id="username">{{ user.username }}</h2>

        <!-- USING PAGES AND SECTIONS TO SPLIT THESE UP -->

        <h2>Ratings and Reviews</h2>
        <ul>
            {% for review in user.reviews %}
            <li>
                <a href="{{ url_for('game_info_bp.game_info', game_id = review.game.game_id) }}">
                    <h3>{{ review.game }}</h3>
                    <h2>Rating: {{ review.rating }} </h2>
                    <p>Comment: {{ review.comment }} </p>
                </a>
            </li>
            {% endfor %}
        </ul>

        <h2>Favourites</h2>
        <ul>
            {% for game in user.favourites %}
            <li>
                <a href="{{ url_for('game_info_bp.game_info', game_id = game.game_id) }}">
                    <h3>{{ game.title }}</h3>
                    <img src="{{ game.image_url }}" alt="game_image">
                </a>
            </li>
            {% endfor %}
        </ul>

        <h2>Wishlist</h2>
        <ul>
            {% for game in user.favourites %}
            <li>
                <a href="{{ url_for('game_info_bp.game_info', game_id = game.game_id) }}">
                    <h3>{{ game.title }}</h3>
                    <img src="{{ game.image_url }}" alt="game_image">
                </a>
            </li>
            {% endfor %}
        </ul>


    </body>
</main>
{% end-block %}

<!-- wonder if i need to use {% if 'user_name' in session %} and {{ session['user_name'] }} {%
            endif %} instead of just user. ? --> 