<!DOCTYPE html>
{% extends "index.html" %}

{% block main %}
{% include 'genre_sidebar.html' %}
<main>
    <body>
        <h1>User Info</h1>

        <!-- User Information -->
        <h2>Username:</h2>
        <h2 id="user-name">{{ user.user_name }}</h2>

        <!-- USING PAGES AND SECTIONS TO SPLIT THESE UP -->
        <h2>User History</h2>
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>

        <h2>Ratings and Reviews</h2>
        <ul>
            <li>Item A</li>
            <li>Item B</li>
            <li>Item C</li>
        </ul>

        <h2>Wishlist</h2>
        <ul>
            <li>Item A</li>
            <li>Item B</li>
            <li>Item C</li>
        </ul>
    </body>
</main>
{% end-block %}