@import url('https://fonts.googleapis.com/css?family=Kanit')


.copyright {
    color: #14452F;
    font-size: 0.9em;
}

.navbar {
    width: 250px;
    background-color: #18392B;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 20px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding-left: 0px;
}

.navbar a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #14452F;
}
.navbar a.selected {
    background-color: #14452F;
}

#logo {
    padding: 10px;
}

#nav-footer {
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: #8EB69B;
}

body {
    margin: 0px;
    background: #daf1de;
    font-family: 'Kanit', arial;
}

#header {
    padding: 20px;
    background: 	#8EB69B;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #14452F;
    margin-left: 250px;
    border: 5px solid #18392B;
    border-left: 0px;
}

#content {
    margin-left: 250px;
}

main {
    margin-top: 30px;
    margin-left: 30px;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    font-size: 25px;
}

.game-library li {
    padding: 20px;
    margin-left; 0px;
    background: #8EB69B;
    width: 500px;
    margin-bottom: 20px;
    text-align: center;
}

.game-library a {
    text-decoration: none;
    color: #18392B;
}

.game-library p {
    font-size: 18px;
    color: #18392B;
}

.game-library h3 {
    padding: 5px;
    margin: 0;
}

.slider {
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}
.image-container {
    width: 900px;
    background-color: pink;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}
#slide-1:target ~ .image-container {
    left: 0px;
}
#slide-2:target ~ .image-container {
    left: -300px;
}
#slide-3:target ~ .image-container {
    left: -600px;
}
.buttons {
    position: relative;
    top: -20px;
}
.buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgreen;
}

#game-title {
    text-align: center;
}

#game-image {
    margin-right: 30px;
    float: left;
}

#game-detail-container {
    align-content: center;
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
}

#game-summary {
    margin-top: 10px;
    align-content: center;
}

.form-field {
    display: inline-block;
    padding: 10px;
}

.genre-sidebar {
    width: 300px;
    background-color: #18392B;
    color: #fff;
    float: right;
    margin-right: 25px;
    font-size: 2em;
    padding-top: 0px;
    padding-bottom: 0px;
}

.genre-sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    padding: 5px;
    font-size: 20px
}

.genre-sidebar a:hover {
    background-color: #14452F;
}

.genre-sidebar ul {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 12px;
    padding-top: 7px;
    margin: 0;
    text-align: center;
}

.genre-sidebar a.selected {
    background-color: #14452F;
}

.genre-sidebar h1 {
    font-size: 1em;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #8EB69B;
}
