{% extends "index.html" %}

{% block main %}
<main>
    <div id="game-info-container">
        <h3 id="game-title">{{ game.title }}</h3>
        {% if is_favourite %}
        <div id="favourites-wrapper">
            <p class="favourite-detail">IN FAVOURITES</p>
            <button onclick="location.href='{{ url_for('game_info_bp.unfavourite_game', game_id = game.game_id) }}'">Remove from favourites</button>
        </div>
        {% else %}
        <div id="favourites-wrapper">
            <p class="favourite-detail">LIKE THE GAME?</p>
            <button onclick="location.href='{{ url_for('game_info_bp.favourite_game', game_id = game.game_id) }}'">Add to favourites</button>
        </div>
        {% endif %}
        <div id="game-detail-container">
            <img id="game-image" src="{{ game.image_url }}" alt="game_image">

            <p class="game-detail"><span class="game-detail-label">Price: </span>${{ game.price }}</p>

            <p class="game-detail"><span class="game-detail-label">Release Date: </span>{{ game.release_date }}</p>

            <p class="game-detail"><span class="game-detail-label">Publisher: </span>{{ game.publisher.publisher_name }}</p>

            <p class="game-detail">
                <span class="game-detail-label">Genres: </span>
                {% for genre in game.genres %}
                <br/>{{ genre.genre_name }}
                {% endfor %}
            </p>
            <div id="game-summary">
                <br>
                <br>
                <h3>Game Description:</h3>
                <p id="game-description">{{ game.description }}</p>
                <div id="reviews">
                    <h4>reviews:</h4>
                    <h4>Avg rating: {{ average_rating }}</h4>
{#                    the list of reviews for game will be here and average rating#}
                    {% if game.reviews %}
                        {% for review in game.reviews %}
                            <p>{{ review.comment }}, {{ review.rating }}, {{ review.user.username }}</p>
                        {% endfor %}
                    {% else %}
                        <p>No reviews</p>
                    {% endif %}
                </div>
                {% block review %}
                <div id="create-review">
                    <button onclick="location.href='{{ url_for('game_info_bp.review_game', game_id = game.game_id) }}'">Make a review</button>
                </div>
                {% endblock %}
            </div>
        </div>
        <br/>

    </div>

</main>
{% endblock %}